<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- IMPORTANT: Enable Spring's component scanning -->
    <context:component-scan base-package="com.springmvc"/>

    <!-- Step4: Configure Data source -->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/specify_database_name/"/>
        <property name="username" value="root"/>
        <property name="password" value="root@mysql"/>
    </bean>

    <!-- Step3: Configure local session factory -->
    <bean id="localSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        
        <!-- Configure data source -->
        <property name="dataSource" value="ds" />

        <!-- Configure hibernate properties -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <!-- Configure Annotated classes -->
        <property name="annotatedClasses">
            <list>
                <value>com.springmvc.entities.User</value>
            </list>
        </property>
    </bean>

    <!-- Step2: Configure HibernateTemplate along with local session factory -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" value="localSessionFactory" />
    </bean>

    <!-- Step1: Configure Dao-->
    <bean id="userDao" class="com.springmvc.dao.UserDaoImpl">
        <property name="hTemplate" value="hibernateTemplate"/>
    </bean>

    <!-- IMPORTANT: enable transactions to commit the data into database -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" value="localSessionFactory"/>
    </bean>

    <!-- Enable transaction management -->
    <tx:annotation-driven/>
</beans>